{% extends './base.html' %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
      {% if registered %}
        <h1>Merci de vous être inscrit(e)!</h1>
      {% else %}
        <h1>Inscrivez-vous</h1>
        <h3>Remplissez simplement le formulaire.</h3>
        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ user_form.as_p }}
          {{ profile_form.as_p }}
          <input type="submit" name="" value="Register">
        </form>

      {% endif %}
    </div>
  </div>
{% endblock %} 
