{% extends "./base.html" %}
{% block title %}ciné-séries{% endblock %}
{% block content %}
    <span class="btn-success"><b>{{ film.titre }}</b></span>
{# Si authentifié et a un user_profile 
(Tous les utilisateurs n'ont pas forcément un user_profile. Ex: admin) #}
    {% if user.is_authenticated and user.user_profile  %}
        {% if film in user.user_profile.films_preferes.all %} {# Si film favori #}
            <a href="{% url 'unfavorite' id_film=film.id %}"><button>IN LOVE - No more love ?</button></a>
        {% else %} {# Si pas film favori #}
            <a href="{% url 'favorite' id_film=film.id %}"><button>DO YOU LOVE ?</button></a>
        {% endif %}
    {% endif %}
    <br />
    <br />
    {{ film.resume }}
    <br />
    <a href="{% url 'film' id_film=film.id %}"><img src="{{ film.affiche.url }}" /></a>
    <hr />
    Cinémas où il est possible de voir ce film : <br />
    <ul>
    {% for cinema in film.cinemas.all %}
        <div class="row">
            <div class="col">
                <li class="breadcrumb">{{ cinema.nom }}<br />
                {{ cinema.adresse }},{{ cinema.code_postal }} {{ cinema.ville }}
                </li>
                <br />
            </div>
        </div>
    {% endfor %}
    </ul>
{% endblock %} 
