{% extends "./base.html" %}
{% block title %}ciné-séries{% endblock %}
{% block content %}
    <table class="table">
    {% for realisateur in realisateurs %}

        <tr>
            <td>
                <b><a href="{% url 'realisateur' id_realisateur=realisateur.id %}">
                    {{ realisateur.titre }}
                </a></b><br />
                <br />
                {{ realisateur.nom }}
                {{ realisateur.prenom }}
                {{ realisateur.date }}
                {{ realisateur.biographie }}
                {{ realisateur.filmographie }}                             
            </td>
            <td>
                <a href="{% url 'realisateur' id_realisateur=realisateur.id %}">
                <img style="width : 150px" src="{{ realisateur.photo.url }}" />
                <!--à consulter pour intégrer les vidéos  https://stackoverflow.com/questions/28268574/set-url-to-load-iframe-in-a-django-template-->              
                </a>
            </td>
        </tr>

    {% endfor %}
    </table>
{% endblock %}
